// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #DDDDDD;

.my-question, .coach-response{
  border-left: 4px solid $grey;
  padding: 10px;
  margin-bottom: 15px;
  p {
    margin-bottom: 0;
  }
}

.coach-response {
  background-color: #FFFEE1;
}
